<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gatos </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1><center>Gatos</center></h1> 
         <center><img src="/img/gato2.jpeg" alt=""><span> <img src="/img/gato 3.jpeg" alt=""> <img src="/img/gato 4.jpeg" alt=""></span></center>
       
        <nav> 
          
             <ul>
               <li> <a href="/views/Perros.html" ><h2>Perros </h2> </a> </li>
               <li>  <a href="/index.html" ><h2> Inicio  </h2> </a> </li> 
                        
                <li>  <a href="/views/peces.html" ><h2> peces  </h2> </a> </li>    
              </ul>
                      
            
          </nav>
     
      </header>
      <main>
          
        <section>
          <center><h2>Articulos para gatos </h2></center>

          <div class=" articulos ">
             <article>
              <br> 
                <a href="https://articulo.mercadolibre.com.ar/MLA-1480330042-litera-bano-arenero-para-gatos-con-tapa-y-pala-rimax-_JM#position=17&search_layout=stack&type=item&tracking_id=bc7ed647-677c-4c2b-b159-7b77cffff2ba" target="_blank"><img src="/img/arenero gato.jpeg" alt=""></a><span><a href="https://articulo.mercadolibre.com.ar/MLA-1116144279-piedritas-para-gatos-silica-gel-clasica-38lts-cancat-k9-_JM#position=20&search_layout=stack&type=item&tracking_id=66c90710-6fab-4a8a-87ee-9c5a06bfe7fc" target="_blank"><img src="/img/piedras gato (2).webp" alt=""></a></span>
                <a href="https://articulo.mercadolibre.com.ar/MLA-1634115606-comedero-2-en-1-pmascotas-anti-asfixia-dispensador-agua-_JM#position=16&search_layout=stack&type=item&tracking_id=36074925-62dc-4cdb-9f73-5dea9a557f9d" target="_blank"><img src="/img/comedero gato.webp" alt=""></a>
                 <a href="https://articulo.mercadolibre.com.ar/MLA-1415836527-peine-saca-nudos-trimador-masajeador-perros-gatos-17-dientes-_JM#position=27&search_layout=stack&type=item&tracking_id=36074925-62dc-4cdb-9f73-5dea9a557f9d" target="_blank"><img src="/img/peine gatos.webp" alt=""></a>
          
           
            </div>
          
      
          </article>
         </section>
           
         <section>
          <h2>Jueguetes</h2>

        <div class=" juguetesg">
          <article>

            <a href="https://www.mercadolibre.com.ar/juguete-ratoncito-interactivo-para-gatos-electronico-usb-color-azul/p/MLA29629297?pdp_filters=category:MLA1081#searchVariation=MLA29629297&position=3&search_layout=stack&type=product&tracking_id=36074925-62dc-4cdb-9f73-5dea9a557f9d" target="_blank"><img src="/img/juguete gato.jpg" alt=""></a><span><a href="https://www.mercadolibre.com.ar/raton-tumbler-juguete-interactivo-para-gatos-10-cm-color-verde/p/MLA24318235?pdp_filters=item_id:MLA1395720613#polycard_client=recommendations_pdp-pads-up&reco_backend=recos_cruella-search-merge-backend_marketplace&reco_client=pdp-pads-up&reco_item_pos=6&reco_backend_type=low_level&reco_id=8897b228-4e79-429d-9461-15e8d5019510&wid=MLA1395720613&sid=recos&is_advertising=true&ad_domain=PDPDESKTOP_UP&ad_position=7&ad_click_id=MTczNGQyMTMtYWYyMC00ZWEwLTk4YWMtOGExYTUwZjQ2YWM4" target="_blank"><img src="/img/jugute gato raton.webp" alt=""></a></span>
            <a href="https://www.mercadolibre.com.ar/juguete-kong-wobbler-cat-dispensador-de-alimento-para-gatos/p/MLA24404287?pdp_filters=item_id:MLA1400686075#polycard_client=recommendations_pdp-pads-up&reco_backend=recos_cruella-search-merge-backend_marketplace&reco_client=pdp-pads-up&reco_item_pos=2&reco_backend_type=low_level&reco_id=7c8a042d-112b-440b-a991-21e3f6347558&wid=MLA1400686075&sid=recos&is_advertising=true&ad_domain=PDPDESKTOP_UP&ad_position=3&ad_click_id=YjAxM2VkM2YtNmFlYS00ZTJhLTlkN2ItMGE4YmQ2NGZkYjk4" target="_blank"><img src="/img/juguete kong.webp" alt=""></a>
      
      
          </article>

        </div>
        
         </section>
       </main>
      
      
       
      
      <footer>    </footer>
    
</body>
</html>