<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peces</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1><center>peces</center></h1> 
         <center><img src="/img/peces1.jpeg" alt=""><span> <img src="/img/paces2.jpeg" alt=""> <img src="/img/paces3.jpeg" alt=""></span></center>
       
        <nav> 
          
             <ul>
               <li> <a href="/views/Perros.html" ><h2>Perros </h2> </a> </li>
               <li>  <a href="/views/Gatos.html" ><h2>Gatos </h2> </a> </li>
          
                <li>  <a href="/index.html" > <h2> Inicio  </h2> </a> </li>    
              </ul>
                      
            
          </nav>
     
      </header>
      <main>
          
        <section>
          <center><h2> Accesorios    </h2></center>

          <div class=" Accesoriosp">
          
           <article>
              <a href="https://articulo.mercadolibre.com.ar/MLA-629006667-kit-pecera-completa-50x35x20-con-1-pez-mediano-de-regalo-_JM#is_advertising=true&position=1&search_layout=stack&type=pad&tracking_id=0f4be92e-fcdb-4ea5-9c90-036be92ce441&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=1&ad_click_id=YmFhY2IyN2MtNjE1NC00ZDUzLWE0N2UtNGM1ZGMzY2JhYzll" target="_blank"><img src="/img/pecera.webp" alt=""></a><span><a href="https://articulo.mercadolibre.com.ar/MLA-911767842-kit-para-peceras-acuario-35-litros-accesorios-_JM#position=10&search_layout=stack&type=item&tracking_id=2ded044d-4703-4537-9dde-65ca16a90df9" target="_blank"><img src="/img/pecera decoracion.webp" alt=""></a></span>
               
                   
           </article>

          </div>
         </section>
         <section>
          <div class=" comida">
           <article>

            <center><h2> Comida</h2></center>
            <a href="https://www.mercadolibre.com.ar/tetra-min-200gr-alimento-peces-agua-tropical/p/MLA25162407?pdp_filters=item_id:MLA1379840189#is_advertising=true&searchVariation=MLA25162407&position=1&search_layout=stack&type=pad&tracking_id=c9b74219-d65f-4bbc-aeab-f6e56f5271f5&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=1&ad_click_id=MDI1YzI0NDUtMjc2NS00YjA0LTk4ZGUtZDJjZjg1NDBkZGQy" target="_blank"><img src="/img/comida para peces2.webp" alt=""></a> <span><a href="https://www.mercadolibre.com.ar/tetra-pond-variety-blend-1020-gr-7-lts/p/MLA21014959/?pdp_filters=seller_id:9997114#reco_item_pos=0&reco_backend=machinalis-seller-items-pdp&reco_backend_type=low_level&reco_client=pdp-seller_items-above&reco_id=c4102e09-3fdd-4d7e-bdf6-47f2c606acce" target="_blank"><img src="/img/comida para peces3.webp" alt=""></a></span>
             <a href="https://articulo.mercadolibre.com.ar/MLA-830191936-alimento-shulet-peishe-trop-5-kg-flote-ppeces-tropicales-_JM#polycard_client=recommendations_pdp-pads-up&reco_backend=recos_cruella-search-merge-backend_marketplace&reco_client=pdp-pads-up&reco_item_pos=2&reco_backend_type=low_level&reco_id=c89aca6d-fb57-41ce-9759-ee4d40b745a6&is_advertising=true&ad_domain=PDPDESKTOP_UP&ad_position=3&ad_click_id=N2EwYjg4NWItYjg0My00ZDc2LWEwMmQtNjg0Yjc3N2YxNDNj" target="_blank"><img src="/img/comida para peces4.webp" alt=""></a>
           </article>
         </div>
      
         </section>
       </main>
      
      
       
      
      <footer>    </footer>
  
    
</body>
</html>