<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Perros</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header> 
       
           <h1><center>Perros</center></h1> 
           <center><img src="/img/lll.jpeg" alt=""><span> <img src="/img/descarga.jpeg" alt=""> <img src="/img/aa.jpeg" alt=""></span></center>
       
        <nav> 
          
             <ul>
               <li> <a href="/index.html" ><h2>Inicio</h2> </a> </li>
               <li>  <a href="/views/Gatos.html" ><h2>Gatos </h2> </a> </li>
          
                <li>  <a href="/views/peces.html" ><h2> peces  </h2> </a> </li>    
              </ul>
                      
            
          </nav>
     
      </header>
      <main>
        
          <center><h2>Jueguetes </h2></center>
         <section>

        <div class="juguetes">
          
          <article>
              <a href="https://articulo.mercadolibre.com.ar/MLA-871636467-soga-juguete-para-perros-2-nudos-puro-algodon-20-cm-_JM#position=30&search_layout=stack&type=item&tracking_id=20226c86-cdba-4076-b923-efca0f196417"><img src="/img/jugete para perro1.webp" alt=""></a><span><a href="https://articulo.mercadolibre.com.ar/MLA-934283831-juguete-para-perros-mordillo-pelota-con-soga-y-sopapa-_JM#position=31&search_layout=stack&type=item&tracking_id=20226c86-cdba-4076-b923-efca0f196417"><img src="/img/sogaperro1.webp" alt=""></a></span>
               <a href="https://www.mercadolibre.com.ar/kong-peluche-wild-knots-bear-sm-juguete-perro-diseno-oso/p/MLA25192873?pdp_filters=item_id:MLA1563833968#is_advertising=true&searchVariation=MLA25192873&position=10&search_layout=stack&type=pad&tracking_id=20226c86-cdba-4076-b923-efca0f196417&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=10&ad_click_id=MjJhMGNhM2QtZDkzYS00YTczLWJmOWYtZjIzNTAxNWVlMGUy"><img src="/img/osito.webp" alt=""></a>
      
            </article>
        </div>
         </section>
        
         <section>
         <h2>Accesorios</h2>
        <div class="Accesorios">
          <br>
          
          <article>
            <a href="https://articulo.mercadolibre.com.ar/MLA-917058797-collar-anti-tirones-optifit-large-perro-grande-_JM#is_advertising=true&position=1&search_layout=stack&type=pad&tracking_id=d7ecb965-96b6-4310-8cee-6d3f6b6d88d4&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=1&ad_click_id=MzlhNzkwZGEtYzQzZC00ZmNhLWExOTItNWVlNzk3NDA1M2Vi" target="_blank"><img src="/img/collar  anti tirones.webp" alt=""></a><span><a href="https://articulo.mercadolibre.com.ar/MLA-1127289671-collar-p-perro-regulable-entrenamiento-mascota-40mm-ancho-k9-_JM#polycard_client=recommendations_vip-pads-up&reco_backend=vip_pads_up_ranker_baseline_marketplace&reco_client=vip-pads-up&reco_item_pos=0&reco_backend_type=low_level&reco_id=604e82ca-ea54-452e-aca2-01545593898c&is_advertising=true&ad_domain=VIPDESKTOP_UP&ad_position=1&ad_click_id=MWQ0ZjM2ZmItNmFmZC00Mjg5LTk1MGEtNTlhNjE4NzQ5MWZi" target="_blank"><img src="/img/collar perro.webp" alt=""></a></span>
            <a href="https://articulo.mercadolibre.com.ar/MLA-839749082-pretal-para-perro-regulable-k9-dog-trainers-_JM#is_advertising=true&position=2&search_layout=stack&type=pad&tracking_id=91730f52-8248-46f1-b378-254e55abd75c&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=2&ad_click_id=YmFkMjU4NWUtZjhlZi00ZDE4LWFmOTYtMjkwYWU2MTUxZjU1" target="_blank"><img src="/img/pretal perro.webp" alt=""></a>
             <a href="https://articulo.mercadolibre.com.ar/MLA-879954604-porta-bolsitas-recolectora-de-heces-perros-un-repuesto-_JM#position=36&search_layout=stack&type=item&tracking_id=a7a8e0ef-bedd-4217-a86c-a9d28047d4ce" target="_blank"><img src="/img/bolsitas para perros.webp" alt=""></a>
           </article>

        </div>
      
         </section>

          
       </main>
      
      
       
      
      <footer>    </footer>
</body>
</html>